
/* color */
$main-color:#F1F1F1;
$btn-color:#50B880;
$chat-human: #488CE1;

$main-green: #D7E7DE;
$main-blue: #488CE1;
$main-violet: #383B7C;



/* size container */
$main-width:1440px;
$mobile-width:767px;

/* font-size */
$size-16: 1.1vw;

/* font-weight */
.--bold{
    font-weight: 700;
}